.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh; 
  font-family: sans-serif;
  overflow-y: auto;
  background: linear-gradient(135deg, #020618 0%,#59168b 50%, #020618 100%);
}
.children{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 48px;
  flex-wrap: wrap;
  padding: 20px 20px 20px 20px;
}
body{
  margin: 0;
}
.child1 {
  display: flex;
  flex-direction: column;
}
.child1 button{
  background-color: #ad46ffaa;
  font-size: 16px;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 30px;
  margin-bottom: 24px;
  cursor: pointer;
  align-self: self-start;
}
.child1 label:nth-of-type(1){
  font-size: 22px;
  margin-bottom: 8px;
  color: white;
}
.child1 label:nth-of-type(2){
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-bottom: 24px;
}
.child1 label:nth-of-type(3)
{
  font-size: 16px;
  color: white;
  margin-bottom: 72px;
}
.child1 div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.child1 div span{
  display: flex;
  width: 85px;
  height: 85px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ad46ffaa;
  border-radius: 10px;
  padding: 16px;
  border: 1px white solid;
  gap: 16px;
  cursor: pointer;
}
.child1 div i{
  font-size: 30px;  
}
.child1 div span label{
  font-size: 16px !important;
  color: white;
}
.child2{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: start;
  background-color: #ad46ffaa;
  border-radius: 20px;
  border: 1px solid white;
  padding: 24px ;
}
.child2 label:nth-of-type(1){
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
}
.child2 label:nth-of-type(2){
  font-size: 16px;
  color: white;
  margin-bottom: 24px;
}
.child2 label:nth-of-type(3){
  display: flex;
  justify-content: stretch;
  width: 100%;
  border-radius: 30px;
  background-color: #ff008e;
  padding: 0 !important;
  margin-bottom: 8px;
  border: 1px solid #ff008e;
}
.child2 label:nth-of-type(3) span{
  width: 100%;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  padding: 6px 0px 6px 0px;
}
.child2 label:nth-of-type(4),.child2 label:nth-of-type(5){
  color: white;
  font-weight: bold;
}
.child2 input,dialog input{
  margin-top: 8px;
  width: -webkit-fill-available;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 24px;
  font-size: 16px;
}
.child2 button,dialog button{
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #ff008e;
  color: white;
  border: 1px white solid;
}
.child2 label:nth-of-type(6){
  display: flex;
  width: 100%;
  color: white;
  font-weight: bold;
}
.child2 label:nth-of-type(6) span:nth-child(2){
  margin-left: auto;
}
button{
  cursor: pointer;
}
@keyframes spin{
  to{transform: rotate(360deg);}
}
.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
}
dialog div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
dialog input{
  margin: 0;
}
dialog div button:nth-of-type(2)
{
  color: #ff008e;
  background-color: white;
}