.top_bar{
    display: flex;
    position: fixed;
    background: linear-gradient(to right, #020618 0%,#59168b 100%);
    top: 0;
    width: 100%;
    align-items: center;
    border: 1px white solid;
    border-width: 0px 0px 1px 0px;
}
.top_bar div{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 16px 48px 16px 48px;
}
.top_bar div label:nth-of-type(1){
    color: #ff008e;
    margin-bottom: 6px;
}
body{
    font-family: sans-serif;
    background: linear-gradient(to right, #020618 0%,#59168b 100%);
}
.top_bar div label:nth-of-type(2){
    color: white;
}
.top_bar i{
    margin-left: auto;
    margin-right: 10px;
    color: white;
}
.top_bar label:nth-of-type(1)
{
    color: white;
    margin-right: 10px;
}
.top_bar button{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-right: 44px;
    color: white;
    background-color: #ff008e;
}
.events_menu{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 48px;
}
.event_nav{
    border-radius: 10px;
    background-color: #ff008e;
    display: flex;
    width: fit-content;
    margin-bottom: 40px;
    border: 1px solid white;
}
.event_nav label{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.events_menu browse_label{
    font-size: 16px;
    margin-bottom: 8px;
    color: white;
}
reg_label{
    font-size: 16px;
    color: #94a3b8;
    margin-bottom: 24px;
}
.categories{
    margin-left: 48px;
    width: fit-content;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    border: 1px white solid;
}
.categories label{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.event_details{
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    gap: 55px;
    width: auto;
    flex-wrap: wrap;
    margin-bottom: 55px;
}
.event_details img{
    margin-bottom: 40px;
    width: 600px;
    height: 300px;
    object-fit: cover;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 20px 20px 0px 0px;
}
.event_card{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #ad46ffaa;
    width: fit-content;
    border-radius: 20px;
}
event_title{
    color:white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
}
punch_line{
    font-size:16px;
    color: white;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
date,time_info,location_info,people{
    font-size:16px;
    color: white;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
trophy{
    color: gold;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
.event_card button{
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.event_card div{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}
difficulty{
    color: gold;
    margin-left: auto;
    margin-right: 40px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: gold 1px solid;
    border-radius: 10px;
    height: min-content;
}
@keyframes spin{
    to{transform: rotate(360deg);}
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
}
@media (max-width:650px)
{
    .top_bar i{
        display: none;
    }
    #name{
        margin-left: auto;
        max-width: 100px;
        overflow: auto;
        scrollbar-width: none;
    }
    .event_card{
        width: 280px;
    }
    .event_details img{
        width: 280px;
        height: 140px;
    }
    .event_details{
        margin-left: 12px;
        margin-right: 12px;
    }
    .categories,.events_menu{
        margin-left: 12px;
    }
    .top_bar button{
        margin-right: 12px;
    }
    .top_bar div{
        padding: 16px 12px;
    }
    .event_card button,trophy,date,time_info,location_info,people,punch_line,event_title{
        margin-left: 12px;
        margin-right: 12px;
    }
    difficulty{
        margin-right: 12px;
    }
}