<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input placeholder="Enter email to receive otp" id="recipient">
    <button id="submit">Submit</button>
    <input id="otp" placeholder="Enter OTP">
    <button id="verify_otp">Submit</button>
    <dialog id="dialog"></dialog>
    
    <script>
        let otp=document.getElementById('otp');
        otp.style.display='none'
        let verify_otp=document.getElementById('verify_otp');
        verify_otp.style.display='none'
        verify_otp.addEventListener('click',()=>
        {
            fetch('/email_page/verify_otp',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    otp:document.getElementById('otp').value,
                    email:document.getElementById('recipient').value
                })
                
            })
            .then(response=>response.json())
                .then(data=>console.log(data))
        })
        let dialog=document.getElementById('dialog');
        document.getElementById('submit').addEventListener('click',()=>
        {
            if(document.getElementById('recipient').value==='' )
            {
                dialog.innerHTML=`All fields are required <p></p><button id="closeDialog">Close</button>`;
                dialog.showModal();
            }
            else
            {
                fetch('/email_page/send_email',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    recipient:document.getElementById('recipient').value
                })
                })
                .then(response=>response.json())
                .then(data=>
                {
                    if(data.success){
                        otp.style.display='block'
                        verify_otp.style.display='block'
                        dialog.appendChild(otp)
                        dialog.appendChild(verify_otp)
                        dialog.showModal()
                        
                    }
                    else if(data.error)
                    {
                        dialog.innerHTML=`${data.error} <p></p><button onclick="dialog.close()">Close</button>`;
                        dialog.showModal();
                    }
                }
                )
            }
        })
    </script>
</body>
</html>