<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100dvh;
        font-family: sans-serif;
        background-color: darkgreen;
    }
    .login_page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
        background-color: lightgreen;
    }
    .login_page input,.login_page button,.login_page label{
        margin-bottom: 10px;
    }
    .login_page label{
        align-self: flex-start;
        color: darkgreen;
        font-weight: bold;
        font-size: 20px;
    }
    dialog{
        font-size: 20px;
        color: white;
        background-color: black;
        border-radius: 20px;
    }
    button{
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
        border: none;
        background-color: white;
        color: darkgreen;
        cursor: pointer;
    }
    .login_page button{
        cursor: pointer;
        width: 100%;
        background-color: white;
        color: darkgreen;
        padding: 5px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
    }
    input{
        border: none;
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
    }
    h1{
        color: darkgreen;
    }
    #login_msg{
        cursor: pointer;
        text-decoration: underline;
        align-self: center;
    }
</style>
<body>
    <div class="login_page">
        <h1 id="login_icon">LOG IN</h1>
        <label id="first_name_label">First Name</label>
        <input placeholder="First Name" type="text" id="first_name">
        <label id="last_name_label">Last Name</label>
        <input placeholder="Last Name" type="text" id="last_name">
        <label id="email_label">Email</label>
        <input placeholder="Email" type="email" id="email">
        <label id="password_label">Password</label>
        <input placeholder="Password" type="password" id="password">
        <label id="phone_label">Phone</label>
        <input placeholder="923123456789" type="number" id="phone">
        <button id="forgot">Forgot Password?</button>
        <hr id='l1' style="border: 1px  solid white;width: 100%;">
        <input placeholder="Enter Email" type="email" id="input">
        <button type="password" id="find_button">Find my Password</button>
        <hr id="l2" style="border: 1px  solid white;width: 100%;">
        <button id="submit">Log In</button>
        <label id="login_msg">Click To Sign Up</label>
    </div>
    <dialog id="dialog"></dialog>
    <script>
        let dialog=document.getElementById('dialog');
        let login_icon=document.getElementById('login_icon');
        let first_name=document.getElementById('first_name');
        first_name.style.display='none';
        let last_name=document.getElementById('last_name');
        last_name.style.display='none';
        let last_name_label=document.getElementById('last_name_label');
        last_name_label.style.display='none';
        let first_name_label=document.getElementById('first_name_label');
        first_name_label.style.display='none';
        let phone=document.getElementById('phone');
        phone.style.display='none';
        let phone_label=document.getElementById('phone_label');
        phone_label.style.display='none';
        let email=document.getElementById('email');
        let password=document.getElementById('password');
        let login_msg=document.getElementById('login_msg');
        let forgot=document.getElementById('forgot');
        let input_email=document.getElementById('input');
        input_email.style.display='none'
        let find=document.getElementById('find_button');
        let l1=document.getElementById('l1');
        let l2=document.getElementById('l2');
        l1.style.display='none'
        l2.style.display='none'
        find.style.display='none'
        forgot.addEventListener('click',()=>
        {
            input_email.style.display='block'
            find.style.display='block'
            forgot.style.display='none'
            l1.style.display='block'
            l2.style.display='block'
            
        })
        find.addEventListener('click',()=>
        {
            if(input_email.value==='')
            {
                dialog.showModal();
                dialog.innerHTML=`Please enter your email <p></p><button style="cursor: pointer;" onclick="dialog.close()">OK</button>`;
            }
            else{
                fetch('/login_admin/forgot_password',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify({
                        email:input_email.value
                    })
                })
                .then(responce=>responce.json())
                .then(data=>
                {
                    if(data.success)
                    {
                        dialog.showModal();
                        dialog.innerHTML=`Your Password is ${data.password} <p></p><button style="cursor: pointer;" onclick="dialog.close()">OK</button>`;
                    
                    }
                    else if(data.message)
                    {
                        dialog.showModal();
                        dialog.innerHTML=`${data.message} <p></p><button style="cursor: pointer;" onclick="dialog.close()">OK</button>`;
                    }
                })
            }

        })
        login_msg.addEventListener('click',()=>
        {
            input_email.style.display='none'
            find.style.display='none'
            l1.style.display='none'
            l2.style.display='none'
            if(login_msg.innerHTML==='Click To Sign Up')
            {
                login_icon.innerHTML='SIGN UP';
                first_name.style.display='block';
                last_name.style.display='block';
                last_name_label.style.display='block';
                first_name_label.style.display='block';
                phone.style.display='block';
                phone_label.style.display='block';
                login_msg.innerHTML='Click To Log In';
                submit.innerHTML='Sign Up';
                forgot.style.display='none';
            }
            else
            {
                login_icon.innerHTML='LOG IN';
                first_name.style.display='none';
                last_name.style.display='none';
                last_name_label.style.display='none';
                first_name_label.style.display='none';
                phone.style.display='none';
                phone_label.style.display='none';
                login_msg.innerHTML='Click To Sign Up';
                submit.innerHTML='Log In';
                forgot.style.display='block';
            }
        })
        let submit=document.getElementById('submit');
        submit.addEventListener('click',()=>
        {
            l1.style.display='none'
            l2.style.display='none'
            input_email.style.display='none'
            find.style.display='none'
            if(login_icon.innerHTML==='LOG IN')
            {
                forgot.style.display='block';
                if(email.value==='' || password.value==='')
                {
                    dialog.showModal();
                    dialog.innerHTML=`Please fill up the required fields <p></p><button style="cursor: pointer;" onclick="dialog.close()">OK</button>`;
                }
                else{
                    fetch('/login_admin/login',{
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json'
                        },
                        body:JSON.stringify({
                            email:email.value,
                            password:password.value
                        })
                    })
                    .then(responce=>responce.json())
                    .then(data=>
                    {
                        console.log(data)
                        if(data.success)
                        {
                            localStorage.setItem('email',data.email);
                            localStorage.setItem('group',data.group);
                            window.location.href='/dashboard_admin';
                        }
                        else if(data.message)
                        {
                            dialog.showModal();
                            dialog.innerHTML=`${data.message} <p></p><button style="cursor: pointer;" onclick="dialog.close()">OK</button>`;
                        }
                    }
                    )
                }
            }
            else
            {
                if(first_name.value==='' || last_name.value==='' || email.value==='' || password.value==='' || phone.value==='')
                {
                    dialog.showModal();
                    dialog.innerHTML=`Please fill up the required fields <p></p><button style="cursor: pointer;" onclick="dialog.close()">OK</button>`;
                }
                else{
                    fetch('/login_admin/signup',{
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json'
                        },
                        body:JSON.stringify({
                            email:email.value,
                            password:password.value,
                            phone:String(phone.value),
                            first_name:first_name.value,
                            last_name:last_name.value
                        })
                    })
                    .then(responce=>responce.json())
                    .then(data=>{
                        if(data.success)
                        {
                            login_icon.innerHTML='LOG IN';
                            first_name.style.display='none';
                            last_name.style.display='none';
                            last_name_label.style.display='none';
                            first_name_label.style.display='none';
                            phone.style.display='none';
                            phone_label.style.display='none';
                            login_msg.innerHTML='Click To Sign Up';
                            submit.innerHTML='Log In';  
                            forgot.style.display='block'; 
                            
                        } 
                        if(data.message)
                        {
                            dialog.showModal();
                            dialog.innerHTML=`${data.message} <p></p><button style="cursor: pointer;" onclick="dialog.close()">OK</button>`;
                        }
                    })
                }
            }
        })


        

    </script>
</body>
</html>