<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
</head>
<style>
    body{
        margin: 0;
        font-family: sans-serif;
        padding: 20px;
    }
    .top_bar{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        text-align: center;
        font-weight: bold;
        align-items: center;
    }
    age,cgpa,name,id{
        width: 100%;
    }
    .actual_notes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-top: 40px;
        text-align:center;
        height: 200px;
        overflow-y: scroll;
        scrollbar-width: none;
        border-radius: 20px;
        border: 1px solid black;
    }
    .actual_notes label{
        width: 100%;
    }
    .adding_data{
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .adding_data button{
        cursor: pointer;
    }
    #dialog{
        padding: 20px;
        background-color: black;
        color: white;
    }
    #dialog button{
        cursor: pointer;
    }
</style>
<body>
    <h1>User Record</h1>
    <div class="top_bar">
        <id>Id</id>
        <name>Name</name>
        <age>Age</age>
        <cgpa>CGPA</cgpa>
    </div>
    <div class="actual_notes">
        
    </div>
    <div class="adding_data">
        <h1>Add Record</h1>
        <label>Enter Name :</label>
        <input id="name" type="text" placeholder="Type Name...">
        <label>Enter Age :</label>
        <input type="number" id="age" placeholder="Type Age...">
        <label>Enter CGPA :</label>
        <input type="number" id="cgpa" placeholder="Type CGPA...">
        <button id="Submit">Submit</button>
        <h1>Update Record</h1>
        <label>Enter Id :</label>
        <input type="number" id="update_id" placeholder="Type Id...">
        <select id="dropdown">
            <option value="Select Field">Select Field</option>
            <option value="name">Name</option>
            <option value="age">Age</option>
            <option value="cgpa">CGPA</option>
        </select>
        <input type="text" id="update_value" placeholder="Type New Value...">
        <button id="Update">Update</button>
        <h1>Delete Record</h1>
        <label>Enter Id :</label>
        <input type="number" id="student_id" placeholder="Type Id...">
        <button id="Delete">Delete</button>
    </div>
    <dialog id="dialog"></dialog>

    <script>
        document.getElementById('name').addEventListener('input',(e)=>
        {
            e.target.value=e.target.value.replaceAll(' ','')
        })
        document.getElementById('update_value').addEventListener('input',(e)=>
        {
            e.target.value=e.target.value.replaceAll(' ','')
        })
        
        document.body.style.display='none'
        let delete_id=document.getElementById('Delete')
        let update=document.getElementById('Update')
        update.addEventListener('click',()=>
        {
            if(document.getElementById('update_id').value==='')
            {
                dialog.showModal()
                dialog.innerHTML=`Please enter an Id to update record <p></p> <button onclick="dialog.close()">Close</button>`
            }
            else if(document.getElementById('dropdown').value==='Select Field')
            {
                dialog.showModal()
                dialog.innerHTML=`Please select a field to update <p></p> <button onclick="dialog.close()">Close</button>`
            }
            else if(document.getElementById('update_value').value==='')
            {
                dialog.showModal()
                dialog.innerHTML=`Please enter a new value for selected field <p></p> <button onclick="dialog.close()">Close</button>`
            }
            else{
                    if(document.getElementById('dropdown').value!=='name' && isNaN( document.getElementById('update_value').value))
                    {
                        dialog.showModal()
                        dialog.innerHTML=`Please enter a valid value for selected field <p></p> <button onclick="dialog.close()">Close</button>`
                    }
                    else
                    {
                        console.log('hey')
                        fetch('/update_record',{
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json'
                        },
                        body:JSON.stringify({
                        id:document.getElementById('update_id').value,
                        field:document.getElementById('dropdown').value,
                        new_value:document.getElementById('dropdown').value==='name'? document.getElementById('update_value').value:Number(document.getElementById('update_value').value)
                        })
                        })
                        .then(responce=>responce.json())
                        .then(data=>
                        {
                        if(data.error)
                        {
                            dialog.showModal()
                            dialog.innerHTML=`${data.error} <p></p> <button onclick="dialog.close()">Close</button>`
                        }
                        else if(data.updated)
                        {
                            for(let i=0;i<document.getElementsByClassName('actual_notes')[0].children.length;i++)
                            {
                                if(document.getElementsByClassName('actual_notes')[0].children[i].children[0].innerHTML===String(data.id) )
                                {
                                    if(data.name)
                                    {
                                        document.getElementsByClassName('actual_notes')[0].children[i].children[1].innerHTML=data.name  
                                    }
                                    else if(data.age)
                                    {
                                        document.getElementsByClassName('actual_notes')[0].children[i].children[2].innerHTML=data.age  
                                    }
                                    else if(data.cgpa)
                                    {
                                        document.getElementsByClassName('actual_notes')[0].children[i].children[3].innerHTML=data.cgpa
                                    }
                                    document.getElementById('update_id').value=''
                                    document.getElementById('dropdown').value='Select Field'
                                    document.getElementById('update_value').value=''
                                    break
                                }
                            }
                        }
                        })
                    }
                
            }
        })
        delete_id.addEventListener('click',()=>
        {
            if(document.getElementById('student_id').value===''){
                dialog.showModal()
                dialog.innerHTML=`Please enter an Id to delete record <p></p> <button onclick="dialog.close()">Close</button>`
            }
            else{
                fetch('/delete_record',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify({
                        id:document.getElementById('student_id').value
                    })
                })
                .then(responce=>responce.json())
                .then(data=>
                {
                    if(data.deleted)
                    {
                        for(let i=0;i<document.getElementsByClassName('actual_notes')[0].children.length;i++)
                        {
                            if(document.getElementsByClassName('actual_notes')[0].children[i].children[0].innerHTML===String(data.id) )
                            {
                                document.getElementsByClassName('actual_notes')[0].removeChild(document.getElementsByClassName('actual_notes')[0].children[i])
                                break
                            }
                        }
                    }
                    document.getElementById('student_id').value=''
                }
                )
            }
        })
        let Submit=document.getElementById('Submit')
        let dialog=document.getElementById('dialog')
        let actual_notes=document.getElementsByClassName('actual_notes')
        Submit.addEventListener('click',()=>
        {
            fetch('/add_note',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    name:document.getElementById('name').value,
                    age:document.getElementById('age').value,
                    cgpa:document.getElementById('cgpa').value
                })
            })
            .then(responce=>responce.json())
            .then(data=>
            {
                console.log(data)
                if(data.error && data.type==='form')
                {
                    dialog.showModal()
                    dialog.innerHTML=''
                    for(let i=0;i<Object.keys(data.error).length;i++)
                    {
                        dialog.innerHTML+=`${Object.keys(data.error)[i]} :${data.error[Object.keys(data.error)[i]][0].message} <p></p> `
                    }
                    dialog.innerHTML+=`<button onclick="dialog.close()">Close</button>`
                }
                else if(data.error && data.type==='exists')
                {
                    dialog.showModal()
                    dialog.innerHTML=''
                    dialog.innerHTML=data.error
                }
                else if(data.created)
                {
                    let div=document.createElement('div')
                    div.style.display='flex'
                    div.style.justifyContent='space-evenly'
                    div.style.width='100%'
                    div.style.textAlign='center'
                    div.style.marginBottom='20px'
                    let id=document.createElement('label')
                    id.innerHTML=data.id
                    let name=document.createElement('label')
                    name.innerHTML=data.name
                    let age=document.createElement('label')
                    age.innerHTML=data.age
                    let cgpa=document.createElement('label')
                    cgpa.innerHTML=data.cgpa
                    div.appendChild(id)
                    div.appendChild(name)
                    div.appendChild(age)
                    div.appendChild(cgpa)
                    actual_notes[0].appendChild(div)
                    document.getElementById('age').value=''
                    document.getElementById('name').value=''
                    document.getElementById('cgpa').value=''
                }
            })
        })
        

        fetch('/notes')
        .then(responce=>responce.json())
        .then(data=>{
            for(let i=0;i<data.responce.length;i++)
            {
                let div=document.createElement('div')
                div.style.display='flex'
                div.style.justifyContent='space-evenly'
                div.style.width='100%'
                div.style.marginBottom='20px'
                let id=document.createElement('label')
                id.innerHTML=data.responce[i].id
                let name=document.createElement('label')
                name.innerHTML=data.responce[i].name
                let age=document.createElement('label')
                age.innerHTML=data.responce[i].age
                let cgpa=document.createElement('label')
                cgpa.innerHTML=data.responce[i].cgpa
                div.appendChild(id)
                div.appendChild(name)
                div.appendChild(age)
                div.appendChild(cgpa)
                actual_notes[0].appendChild(div)
            }
            document.body.style.display='block'
        })
    </script>
</body>
</html>